@import url('https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap');

nav, p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
}

html {
    font-size: 18px;
}

@media (min-width: 621px) {
    html {
        font-size: 18px
    }
}

@media (min-width: 794px) {
    
}

@media (min-width: 900px) {
    
}

@media (min-width: 1080px) {
    
}