//#F8A748 rgb(252, 212, 161)


@mixin triangle {
    top: 60px;
    position: absolute;
    left: 0;
    content: "";
    height: calc(60vw - 60px);
    width: 100%;
}

body {
    background-color: #F1F1F1;
}

.wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.wrapper::before {
    @include triangle;
    z-index: -2;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background:#F8A748;
}

.wrapper::after {
    @include triangle;
    z-index: -1;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background: rgb(252, 212, 161);

}

@media (min-width: 1080px) {

    .wrapper::before, .wrapper::after {
        height: calc(100% - 60px);
    }
}