.aboutUs {
    h3 {
        margin-top: 2rem;
        position: relative;
    }
    p {
        width: 100%;
    }
    p:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        span {
            width: 45%;
        }
    }

    p:nth-of-type(n+2) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        span {
            width: 45%;
        }
    }

    p:nth-of-type(1) {
        margin-bottom: 60px;
    }
    &::before {
        display: block;
        content: "";
        margin-top: -285px;
        height: 285px;
        visibility: hidden;
        pointer-events: none; 
    }
    button {
        width: 20%;
        background: none;
        border: 1px solid orange;
        color: gray;
        margin: 0 auto;
        cursor: pointer;
        transition: .3s ease-out;
        margin-top: 50px;
        &:hover {
            background: orange;
            color: #3d3d3d;
        }
    }
    .hidden {
        display: none !important;
    }
}

@media (min-width: 1300px) {
    .aboutUs {
        h3:nth-of-type(1) {
            &::after {
            position: absolute;
            top: 0;
            right: 2rem; 
            width: 4rem;
            height: 4rem;
            transform: translateY(-25%);
            content: '';
            background: url('../img/logo.png');
            background-size: cover;
            z-index: 999;
            }
        }
    }
}