.footer {
    display: flex;
    background-color: #F8A748;
    padding: 15px 0 15px 0;
    flex-direction: column;
    p {
        margin: 0 auto;
    }
    span {
        opacity: 0.5;
        line-height: 10px;
        margin: 0 auto;
        font-size: 14px;
        transition: .7s ease-in-out;
        a {
            display: inline;
            line-height: 0;
        }
        &:hover {
            opacity: 1;
        }
    }
}