.footer {
    display: flex;
    background-color: #F8A748;
    padding: 15px 0 15px 0;
    flex-direction: column;
    p {
        margin: 0 auto;
    }
    span {
        margin-left: auto;
        padding: 0 20px;
    }
}