figure {
    flex-direction: column;
    width: 100%;
    height: calc(60vw - 60px);
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    display: none;
    .main-logo {
        width: 40vw;
    }
    .arrow {
        display: none;
    }
    #desc {
        display: none;
    }
}

@media (min-width: 768px) {
    figure {
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 40vw;
        .main-logo {
            width: 60vw;
        }
    }
}

@media (min-width: 1024px) {
    figure {
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100vh - 60px);
        transform: translateY(60px);
        margin-top: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        .main-logo {
            width: 40vw;
        }
        .arrow {
            display: initial;
            position: absolute;
            bottom: 0;
            width: 5vw;
            transition: opacity 2s ease-in-out, transform .5s ease-in-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.2)
            }
        }
        .desc {
            transform: translate3d(4vw, -7vw, 0);
            font-size: 1.3vw;
            opacity: 0;
            color: #ffa837;
            transition: opacity 2s ease-in-out;
            font-family: 'Montserrat', sans-serif;
            max-width: 32vw;
        }
        .show {
            opacity: 1;
        }
        .hide {
            opacity: 0;
        }
    }
}