.section {
    p {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
        a {
            flex-basis: 28%;
            align-self: center;
        }
        a:last-of-type {
            flex-basis: 100%;
        }
        a:nth-child(4), a:nth-child(5), a:nth-child(6), a:nth-child(7) {
            flex-basis: 45%;
        }
    }
}