.section {
    p {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
        a {
            flex-basis: 28%;
            align-self: center;
        }
        a:last-of-type {
            flex-basis: 100%;
        }
    }
}