.team {
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        p:nth-of-type(2n) {
            display: none;
        }
        h3 {
            width: 100%;
        }
        p {
            order: 1;
            width: 20%;
            min-width: 200px;
            margin: 0 2%;
            margin-bottom: 2%;
        }
        .active {
            order: 0;
            display: initial !important;
            width: 100%;
            span {
                width: 50%;
                margin-bottom: 20px;
            }
        }
        .active:nth-child(1n) {
            padding-bottom: 10px;
            font-family: 'Russo One', sans-serif;
            font-size: 1.7rem;
            line-height: 1.2;
        }
        .active:nth-child(2n) {
            font-size: 1rem;
            line-height: 1.6;
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 20px;
        }
    }
}