#about-us {
    .side-by-side {
        p {
            display: flex;
            span {
                width: 100%;
            }
        }
    }
}

#team {
    .side-by-side {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card {
            overflow: hidden;
            display: flex;
            width: 20%;
            margin: 2%;
            min-width: 200px;
            p {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                span {
                    height: 100%;
                    width: 100%;
                    border: 3px solid #F8A748;
                    border-radius: 20px;
                    overflow: hidden;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

article {
    display: flex;
    flex-direction: column;
    h3 {
        color: #707070;
        text-align: center;
    }
    p {
        text-align: center;
        margin: 0;
    }
}