.blog {
    display: flex;
    flex-direction: column;
    h3 {
        width: 100%;
    }
    article {
        background: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h4 {
            text-align: center;
            width: 100%;
            margin-top: -40px;
        }
        p {
            width: 100%;
            font-size: 15px;
        }
        p:nth-of-type(2) {
            order: -1;
            width: 87%;
            transform: translateY(-60px)
        }
    }
}




@media (min-width: 768px) {
    .blog {
        button {
            width: 20%;
            background: none;
            border: 2px solid orange;
            color: gray;
            margin: 0 auto;
        }
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 100px;
        article {
            width: 50%;
            padding: 20px;
        }
        aside {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                width: fit-content;
                border: 2px solid orange;
                p {
                    transform: translate3d(-20px, 15px, 0);
                    font-size: 30px;
                }
            }
        }
    }

    .disabled {
        display: none !important;
    }

    .visible {
        background: orange;
    }
}
