.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sheet {
    position: relative;
    align-self: stretch;
    margin: 0 auto;
    height: 100%;
    width: 95%;
    max-width: 1080px;
    background-color: #F5F1ED;
    border: 1px solid #ddd;
    box-shadow: 8px 8px 4px #707070;
    border-radius: 20px;
    z-index: 2;
}

.background {
    background: linear-gradient(to bottom, rgb(252, 212, 161), rgb(255, 136, 0))
}

section {
    display: flex;
    flex-direction: column;
    h3 {
        color: #707070;
        text-align: center;
        margin-bottom: 100px;
    }
    p {
        text-align: center;
        margin: 0;
    }
    margin-bottom: 150px;
}

@media (min-width: 621px) {
    .sheet {
        width: 85%;
    }
}

@media (min-width: 794px) {
    .sheet {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .sheet {
        width: 75%;
    }
}


@media (min-width: 1080px) {
    .main::before {
        top: 100vh;
    }

    .sheet {
        width: 70%;
        max-width: 1080px;
    }
}