@mixin nav-btn-line {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #F8A748;
    left: 0;
    transition: ease-out .3s .3s;
}

.main-header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 3;
}

.nav-wrapper {
    width: 100%;
    display: flex;
}

.logo {
    margin: 0 auto;
    height: 100%;
    transform: translateX(-30px);
    transition: ease-out .3s;
}

.navbar {
    position: absolute;
    display: inline-block;
    width: 150px;
    background: linear-gradient(#F8A748, white) ;
    height: 100vh;
    padding-top: 30px;
    transform: translateX(-150px);
    transition: ease-out .3s;
    .navbar-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        .navbar-list-item {
            margin: 20px auto;
            border: 2px solid white;
            border-radius: 10px;
            width: 100px;
            text-align: center;
            a {
                text-decoration: none;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
                line-height: 45px;
            }
        }
    }
}

.nav-btn-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.nav-btn-line {
    @include nav-btn-line;
    top: 50%;
    transform: translateY(-50%);
}

.nav-btn-line::before {
    @include nav-btn-line;
    top: -12px;
}

.nav-btn-line::after {
    @include nav-btn-line;
    top: 12px;
}

.nav-btn {
    background: transparent;
    padding: 10px;
    height: 100%;
    width: 60px;
    transition: ease-out .3s;
    border: 0;
}   

.nav-btn-active {
    transform: translateX(150px);
    .nav-btn-line {
        background-color: transparent;
    }
    .nav-btn-line::before {
        transform: translateY(12px) rotate(45deg);
    }
    .nav-btn-line::after {
        transform: translateY(-12px) rotate(-45deg);
    }
}

.navbar-active {
    transform: translateX(0px);
}


@media (max-width: 580px) {
    .logo-active {
        transform: translateX(80px);
    }
}

@media (min-width: 768px) {

    .nav-wrapper {
        width: 65%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .navbar {
        transform: initial;
        height: 100%;
        width: 100%;
        background: none;
        position: static;
        padding: initial;
        margin: initial;
        display: flex;
        justify-content: initial;
        .navbar-list {
            align-self: center;
            flex-direction: row;
            margin-left: auto;
            .navbar-list-item {
                white-space: nowrap;
                border: none;
                a {
                    color: #B1AFAF;
                    line-height: 60px;
                }
            }
        }
    }

    .logo {
        transform: initial;
        margin: initial;
    }

    .nav-btn {
        display: none;
    }
}