.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    p:nth-of-type(2n) {
        display: none;
    }
    h3 {
        width: 100%;
    }
    p {
        order: 1;
        width: 20%;
        min-width: 200px;
        margin: 0 2%;
    }
    .active {
        order: 0;
        display: initial !important;
        width: 100%;
        span {
            width: 50%;
        }
    }
}